<div class="contacts-list">
  <table>
    <th>Id</th>
    <th>Name</th>
    <th>Department</th>
    <th>Email</th>
    <th>Edit</th>
    <tr
      *ngFor="
							let contact of contactsList;
							trackBy: trackByFn;
							let i = index
						"
    >
      <td>{{ contact.id }}</td>
      <td>{{ contact.name }}</td>
      <td>{{ contact.department }}</td>
      <td>{{ contact.email }}</td>
      <td class="edit">
        <a href="javascript:void(0)" (click)="editForm(i)">
          Edit
        </a>
      </td>
    </tr>
  </table>
</div>
<ng-template [ngIf]="isAddFormOpen">
  <form
    [formGroup]="contactsForm"
    #addform="ngForm"
    (ngSubmit)="submitContactsForm()"
  >

        <label for="name" class="form-group-label">Name</label>
          <input
            formControlName="name"
            type="text"
            name="name"
            id="name"
            class="form-input"
            placeholder="Enter Name"
          />

        <label for="department" class="form-group-label">Department</label>
          <input
            formControlName="department"
            type="text"
            name="department"
            id="department"
            class="form-input"
            placeholder="Enter Department"
          />
        <label for="eMail" class="form-group-label">Email</label>
          <input
            formControlName="email"
            type="email"
            name="email"
            id="email"
            class="form-input"
            placeholder="Enter email"
          />

  </form>
</ng-template>
<div class="form-button-with-icon" *ngIf="!isEdit">
  <a href="javascript:void(0)">
    <span>
      <i class="icon-plus"></i>
    </span>
    <p (click)="submitForm()">Add Contact</p>
  </a>
</div>
<div class="form-button-with-icon" *ngIf="isEdit">
  <a href="javascript:void(0)">
    <span>
      <i class="icon-plus"></i>
    </span>
    <p (click)="submitForm()">Update Contact</p>
  </a>
</div>
